html, body {
    height: 100%;
  }
  
  .full-height {
    height: 100%;
  }

.row {
    padding: 70px;
}

div {
    background-color: #a1b5cb;
}


#nombre {
    font-weight: bold;
    font-size: 25px;
}

#especialidad {
    font-weight: bold;
    font-size: 20px;
}


#fotoPerfil {
    border-radius: 50%;
    box-shadow: 3px 3px 3px gray;
    margin-top: -200px;
    left: 20px;
}

#acercaDe {
    margin-top: 10%;
}

@media (min-width: 576px) {


    

   

}



@media (max-width: 575px) {
    

}