<div class="row">
    <div class="col-xs-12 col-sm-4 col-md-4 col-lg-2">
        <img src="../../../assets/foto_perfil.jpeg" class="img-fluid" id="fotoPerfil">
        <p id="nombre">Guadalupe</p>
        <p id="apellido">Alberto</p>
        <p>Full stack developer</p>
    </div>
    <div class="col-xs-0 col-sm-1 col-md-1 col-lg-1">

    </div>
    <div class="col-xs-12 col-sm-7 col-md-7 col-lg-9">
        <span id="acercaDe">
            <h1>Acerca de mi</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Debitis sint laborum quos commodi cum. Obcaecati
                aliquam eum dolore repellendus doloribus quos deleniti eos rem, alias magnam quo iusto labore facere.
            </p>
        </span>
    </div>
</div>